@use 'global' as *;

.c-breadcrumb {
  padding: rem(5) 0;
  background-color: $thin-green;
  font-size: rem(11);
  position: relative;
  @include mq("md") {
    font-size: rem(12);
  }
}

.c-breadcrumb__link-top {
  color: $green;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.05em;
}

.c-breadcrumb__link,
.c-breadcrumb__arrow {
  display: inline-block;
  margin-left: rem(5);
}
.c-breadcrumb__link {
  vertical-align: middle;
  letter-spacing: 0.05em;
}

.c-breadcrumb .home {
  color: $green;
  display: inline-block;
  margin-right: rem(5);
  vertical-align: middle;
}
.c-breadcrumb .post {
  display: inline-block;
  margin-left: rem(5);
  vertical-align: middle;
}

