@use 'global' as *;

.c-button {
  text-align: center;
  display: inline-block;
  font-size: rem(14);
  font-weight: $bold;
  color: $white;
  width: rem(200);
  text-transform: uppercase;
  background: transparent linear-gradient(90deg, #b7df55 0%, #119800 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  line-height: 1;
  padding: rem(23) 0;
}
