@use 'global' as *;


.c-contact-form {
    background-color: $thin-green;
    padding: rem(30);
    @include mq("md") {
        padding: rem(90);
    }
}

.c-contact-form__item {
    padding-bottom: rem(32);
    @include mq("md") {

    }
}

.c-contact-form__flex {
    @include mq("md") {

    }
}

.c-contact-form__title {
    font-size: rem(15);
    font-weight: $bold;
    letter-spacing: 0.05em;
    @include mq("md") {
        font-size: rem(16);
    }
}
.c-contact-form__title--radio {
    padding-bottom: rem(6);
    @include mq("md") {

    }
}

.c-contact-form__danger-label {
    font-size: rem(12);
    color: $green;
    display: inline-block;
    margin-left: rem(10);
    @include mq("md") {

    }
}

.c-contact-form__radios {
    display: flex;
    flex-direction: column;
    @include mq("md") {
        flex-direction: row;
    }
}
// .c-contact-form__radios label {
//     position: relative;
//     margin-left: rem(20);
    
// }
.c-contact-form__radios label:not(:first-child) {
    margin-top: rem(5);
    @include mq("md") {
        margin-left: rem(40);
        margin-top: 0;
    }
}
// .c-contact-form__radios label::before {
//     position: absolute;
//     content: "";
//     left: rem(-20);
//     display: inline-block;
//     width: rem(16);
//     height: rem(16);
//     border-radius: 50%;
//     border: rem(1) solid $black;
//     background-color: $white;
//     vertical-align: top;
//     margin: 0;
//     margin-top: rem(5);
// }


.c-contact-form__input {
    @include mq("md") {

    }
}

.c-contact-form__limit-text {
    font-size: rem(12);
    font-weight: $normal;
    @include mq("md") {

    }
}

.c-contact-form__textarea {
    resize: none;
    @include mq("md") {

    }
}

.c-contact-form__btn {
    @include mq("md") {

    }
}


